
:root{
  --headcol: #2218A7;
  --textcol: #737CCF;
  --bgcol:#E1E5F8;
  --sectioncol:#BBC4EB;

}

@media (max-width: 576px){
}

@media (max-width: 768px){
    
}

@media (max-width:992px){
}

@media (max-width:1200px){

}

@media (max-width:1400px){
}

@import url('https://fonts.cdnfonts.com/css/noir');
@import url('https://fonts.cdnfonts.com/css/rezland-2');

h1{
  font-family: 'Rezland', sans-serif;
}

body{
  /* background-image: url(./components/black-g10b10913d_1920.jpg);
  height: 100%; */
}

h1{
  color: var(--headcol);
}

h2{
  text-align:right;
}

p{
  text-align:right;
}

li{
  color: grey;
}

h2{
  color: var(--headcol);
}

p{
  color: var(--textcol);
}

.jumbotron{
  height: vh;
}


.head-container{
  position: absolute;
  right: 10vh;
  bottom: 0;
  width: 70%;
}

.section{
  /* writing-mode: vertical-rl;
  text-orientation: mixed; */
  background-color: var(--bgcol);
  margin-top: 40px;
}

.navbar{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  overflow: hidden;
  position: fixed;
}

.socials{
  position: absolute;
  top: 9vh;
  right: 7vh;
}

.icon{
  color: var(--textcol);
}

.icon:hover{
  color: var(--headcol);
}

.header-qoute{
  position: absolute;
  top: 10vh;
  font-style: italic;
}

.name{
  font-family: noir;
}

.lead{
  font-style: italic;
  color: black;
}

.projects-section{
  position: absolute;
  top: 8vh;
  right: 10vh;
  width: 70%;
}

.project{
  width: 100%;
}

.project-container{
  position: absolute;
  top: 14vh;
  right: 1vh;  
}

.heading{
  position: absolute;
  right: 1vh;
}

.contactme-content{
  position:absolute;
  top: 10vh;
  right: 2vh;

}

.form-section{
  padding: 2vh;
  right: 0;
}

.btn-secondary{
  position: absolute;
  right: 13vh;
}